body{
    background-color: black;
}

div{
    height: 100px;
    width: 300px;
    border-radius: 50px;
    margin: 100px auto;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.d-1{
    border: 5px solid orange;
    color: orange;
}

.d-2{
    border: 5px solid lightskyblue;
    color: lightskyblue;
}

.d-3{
    border: 5px solid pink;
    color: pink;
}

.d-4{
    border: 5px solid red;
    color: red;
}