@media screen and (max-width: 576px){
    .container{
        display: flex;
        flex-direction: column;
        column-gap: 5px;
        width: 576px;
    }
    .store-and-tools{
        display: none;
    }
    .content>div{
        width: 576px;
    }
    .top{
        width: 576px;
    }
    .content{
        display: flex;
        flex-direction: column;
        column-gap: 10px;
    }
    .nav{
        height: 50px;
    }
    .top-logo{
        height: 50px;
        width: 126px;
    }
    .top-header{
        height: 50px;
        width: 400px;
    }

}