.container{
    width: 2000px;
    margin: auto;
    height: 1180px;
}
.page-item {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.p-1 {
    color: red;
    margin-bottom: 10px;
}
.p-2 {
    color: white;
    margin-top: 10px;
}
.top {
    height: 100px;
}
.brdr-b{
    border-bottom: 10px solid white;
}
.brdr-r{
    border-right: 10px solid white;
}
.top>div{
    height: 120px;
}
.header{
    width: 1650px;
}
.w350{
    width: 350px;
}
.w1300{
    width: 1300px;
}
.w1650{
    width: 1650px;
}
.nav{
    height: 670px;
}
.store-locator{
    height: 100px;
}
.tools{
    height: 100px;
}
.content{
    height: 900px;
}
.flex{
    display: flex;
}
.fl-wr{
    flex-wrap: wrap;
}
.w65{
    width: 65%;
}
.w35{
    width: 34.3%;
}
.mt20{
    margin-top: 20px;
}
.footer{
    height: 150px;
    position: relative;
    top: -210px;
}
.store-and-tools{
    position: relative;
    width: 350px;
    bottom: 220px;
}
